# Compiled Source #
###################
UIApplication
*.o
*.h.gch

########
# Logs #
########

*.log

############
# OS Files #
############
.DS_Store
.DS_Store?
._*
.Trashes
.Spotlight-V100
Icon?
ehthumbs.db
Thumbs.db

###############
# Lab Scripts #
###############

setUpLabMachine.sh
setUpLib.sh



*.pl
